# This is a basic workflow to help you get started with Actions

name: CI
run-name: ${{ github.actor }} is Sync Images to DockerHub.

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "syncimages"
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="

    # 增加可用磁盘空间
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:

        root-reserve-mb: 2048
        swap-size-mb: 128
        remove-dotnet: 'true'
        remove-haskell: 'true'
        # 如果空间还是不够用，可以把以下开启，清理出更多空间
        # remove-android: 'true'
        # remove-codeql: 'true'
        build-mount-path: '/var/lib/docker/'

    - name: Restart docker
      run: sudo service docker restart

    - name: Free up disk space complete
      run: |
        echo "Free up disk space complete"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false

    - name: buildx
      uses: docker/build-push-action@v2
      with:
        file: ./Dockerfile
        push: true
        tags: registry.cn-hangzhou.aliyuncs.com/soft24/gxh:v1.0.0
        platforms: linux/amd64
        
      # Runs a set of commands using the runners shell
    # 使用shell命令批量同步所需的镜像到dockerHub中
    #- name: Use Skopeo Tools Sync Image to Docker Hub
    #  run: |
    #    #!/usr/bin/env bash
    #    skopeo copy --all docker://docker.elastic.co/elasticsearch/elasticsearch:7.17.9 docker://registry.cn-hangzhou.aliyuncs.com/soft24/elasticsearch:7.17.9
    #    skopeo copy --all docker://docker.elastic.co/logstash/logstash:7.17.9 docker://registry.cn-hangzhou.aliyuncs.com/soft24/logstash:7.17.9
    #    skopeo copy --all docker://docker.elastic.co/kibana/kibana:7.17.9 docker://registry.cn-hangzhou.aliyuncs.com/soft24/kibana:7.17.9
    #    skopeo copy --all docker://docker.io/library/gcc:12.4 docker://registry.cn-hangzhou.aliyuncs.com/soft24/gcc:12.4
